<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package userId="Discord.Net" version="2.2.0" targetFramework="net472" />
  <package userId="Discord.Net.Commands" version="2.2.0" targetFramework="net472" />
  <package userId="Discord.Net.Core" version="2.2.0" targetFramework="net472" />
  <package userId="Discord.Net.Rest" version="2.2.0" targetFramework="net472" />
  <package userId="Discord.Net.Webhook" version="2.2.0" targetFramework="net472" />
  <package userId="Discord.Net.WebSocket" version="2.2.0" targetFramework="net472" />
  <package userId="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net472" />
  <package userId="Microsoft.Extensions.DependencyInjection" version="1.1.0" targetFramework="net472" />
  <package userId="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.1.0" targetFramework="net472" />
  <package userId="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package userId="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net472" />
  <package userId="NETStandard.Library" version="1.6.1" targetFramework="net472" />
  <package userId="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package userId="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net472" />
  <package userId="Sprache" version="2.3.1" targetFramework="net472" />
  <package userId="System.AppContext" version="4.3.0" targetFramework="net472" />
  <package userId="System.Collections" version="4.3.0" targetFramework="net472" />
  <package userId="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package userId="System.Collections.Immutable" version="1.3.1" targetFramework="net472" />
  <package userId="System.ComponentModel" version="4.3.0" targetFramework="net472" />
  <package userId="System.Console" version="4.3.0" targetFramework="net472" />
  <package userId="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package userId="System.Diagnostics.DiagnosticSource" version="4.3.0" targetFramework="net472" />
  <package userId="System.Diagnostics.Tools" version="4.3.0" targetFramework="net472" />
  <package userId="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net472" />
  <package userId="System.Globalization" version="4.3.0" targetFramework="net472" />
  <package userId="System.Globalization.Calendars" version="4.3.0" targetFramework="net472" />
  <package userId="System.Interactive.Async" version="4.0.0" targetFramework="net472" />
  <package userId="System.IO" version="4.3.0" targetFramework="net472" />
  <package userId="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package userId="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net472" />
  <package userId="System.IO.FileSystem" version="4.3.0" targetFramework="net472" />
  <package userId="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package userId="System.Linq" version="4.3.0" targetFramework="net472" />
  <package userId="System.Linq.Async" version="4.0.0" targetFramework="net472" />
  <package userId="System.Linq.Expressions" version="4.3.0" targetFramework="net472" />
  <package userId="System.Net.Http" version="4.3.0" targetFramework="net472" />
  <package userId="System.Net.Primitives" version="4.3.0" targetFramework="net472" />
  <package userId="System.Net.Sockets" version="4.3.0" targetFramework="net472" />
  <package userId="System.ObjectModel" version="4.3.0" targetFramework="net472" />
  <package userId="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package userId="System.Reflection.Extensions" version="4.3.0" targetFramework="net472" />
  <package userId="System.Reflection.Primitives" version="4.3.0" targetFramework="net472" />
  <package userId="System.Resources.ResourceManager" version="4.3.0" targetFramework="net472" />
  <package userId="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package userId="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package userId="System.Runtime.Extensions" version="4.3.0" targetFramework="net472" />
  <package userId="System.Runtime.Handles" version="4.3.0" targetFramework="net472" />
  <package userId="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package userId="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package userId="System.Runtime.Numerics" version="4.3.0" targetFramework="net472" />
  <package userId="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package userId="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package userId="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package userId="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package userId="System.Text.Encoding" version="4.3.0" targetFramework="net472" />
  <package userId="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net472" />
  <package userId="System.Text.RegularExpressions" version="4.3.0" targetFramework="net472" />
  <package userId="System.Threading" version="4.3.0" targetFramework="net472" />
  <package userId="System.Threading.Tasks" version="4.3.0" targetFramework="net472" />
  <package userId="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package userId="System.Threading.Timer" version="4.3.0" targetFramework="net472" />
  <package userId="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package userId="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net472" />
  <package userId="System.Xml.XDocument" version="4.3.0" targetFramework="net472" />
  <package userId="UnitsNet" version="4.70.1" targetFramework="net472" />
</packages>